@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<h3>LogOut</h3>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (HttpContext!.User.Identity!.IsAuthenticated)
        {
            await HttpContext!.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }
}
