@page "/history"
@layout Layout.MainLayout
@attribute [StreamRendering]

<PageTitle>History</PageTitle>

<h1>History</h1>
@if (HttpContext!.User.Identity!.IsAuthenticated)
{
    @*TODO: Add History and css*@
    @* @foreach(var item in User.History)
    {
        <p>item</p>
    } *@
}
else
{
    <p>You must sign in!</p>
}


@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
}