@page "/verify"
@layout Layout.MainLayout
@using FeelFlowAnalysis.Models.ViewModels
@rendermode InteractiveServer

<PageTitle>Verify</PageTitle>
<div class="home-container">
    <p class="text-handler">Upload your photo's</p>
    <div class="upload-button-container">
        @if (imageBytes1 is not null && imageBytes2 is not null)
        {
            // Add img and css
        }
        @if (data is not null)
        {
            <p>@data</p>
        }
        <button class="button upload-button" style="position: relative;">
            Upload
            <InputFile OnChange="LoadFile" accept="image/*" class="input-file" />
        </button>
    </div>
</div>

@code {
    private byte[]? imageBytes1;
    private byte[]? imageBytes2;
    private string? imageSource1;
    private string? imageSource2;
    private string? data;
    private string rModelName = string.Empty;
    private string distanceMetric = string.Empty;
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if(file is null)
        {
            return;
        }

        if (!file.ContentType.StartsWith("image"))
        {
            return;
        }

        using (var memoryStream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(memoryStream);
            imageBytes1 = memoryStream.ToArray();
            imageBytes2 = memoryStream.ToArray();
            imageSource1 = $"data:{file.ContentType};base64,{Convert.ToBase64String(imageBytes1)}";
            imageSource2 = $"data:{file.ContentType};base64,{Convert.ToBase64String(imageBytes2)}";
        }

        var jsonContent = JsonSerializer.Serialize(new VerifyViewModel { B64img1 = imageSource1, B64img2 = imageSource2, RModelName = rModelName, DistanceMetric = distanceMetric} );
        var content = new StringContent(jsonContent, Encoding.UTF8, "application/json");
        using (var client = new HttpClient())
        {
            try
            {
                var response = await client.PostAsync(Settings.Value.Api.Verify, content);
                if (!response.IsSuccessStatusCode)
                    return;

                data = await response.Content.ReadAsStringAsync();
            }
            catch
            {
                return;
            }
        }
    }
}   