@page "/"

<PageTitle>Home</PageTitle>
<div class="home-container">
    <p class="text-handler">Upload your photo or video...</p>
    <div class="upload-button-container">
        <InputFile OnChange="@HandleFileUpload" id="fileInput" class="input-file" />
        <label for="fileInput" class="button upload-button">Upload</label>
    </div>
</div>

@code {

    async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if(file != null)
        {
            var bytes = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(bytes);

            var base64String = Convert.ToBase64String(bytes);
            var data = new{
                b64_img = base64String,
                actions = new Dictionary<string, bool> { { "age", true }, { "emotion", true }, { "gender", true }, { "race", true } }
            };

            var json = JsonSerializer.Serialize(data);

            using (var httpClient = new HttpClient())
            {
                var content = new StringContent(json, Encoding.UTF8, "application/json");
                var response = await httpClient.PostAsync("URL", content);
            }
        }
    }
}   