@page "/premium"

<PageTitle>Premium</PageTitle>

<div class="card-premium-container">
  <div class="card-premium">
    <h2>FeelFlowAnalysis Standard</h2>
    <ul>
      <li>Only receiving information about the person in the photo.</li>
    </ul>
  </div>
  <div class="card-premium">
    <h2>FeelFlowAnalysis Premium</h2>
    <ul>
      <li class="gray">Only receiving information about the person in the photo.</li>
      <li>Getting methods.</li>
      <li>Comparison of faces in photos.</li>
      <li>Story.</li>
      <li>Camera access.</li>
    </ul>
  </div>
</div>