@inherits LayoutComponentBase
@using FeelFlowAnalysis.Models.ViewModels

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row">
      <a class="navbar-brand" href="">FeelFlow Analysis</a>
      @if (HttpContext!.User.Identity!.IsAuthenticated)
      {
        // Add User and logout btn here...
      }
      else
      {
        <div class="button-pos">
          <button class="btn btn-primary" id="loginBtn">LogIn</button>
          <button class="btn btn-primary" id="signupBtn">SignUp</button>
        </div>
      }
    </div>

    <article class="content px-4">@Body</article>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
}