.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #1e1e1e;
}

.sidebar {
    background-image: linear-gradient(180deg, #2f2f2f 0%, #2f2f2f 70%);
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: flex;
    flex-direction: row;
    background-color: #2f2f2f;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    height: 60vh;
    overflow: hidden;
    border-radius: 10px;
}

.modal-heading-container {
    margin-top: 60%;
    justify-content: center;
}

.modal-heading {
    font-weight: 800;
    font-size: 250%;
}

.modal-left,
.modal-right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.modal-left {
    color: #2f2f2f;
    background: linear-gradient(rgba(255, 255, 255, 0), #e6aa30);
    border-radius: 10px 0 0 10px;
}

.modal-right {
    background-color: #2f2f2f;
    color: #e6aa30;
    border-radius: 0 10px 10px 0;
}

.modal-right .form-control {
    background-color: #1e1e1e;
    color: #e6aa30;
    border: 1px solid #e6aa30;
    margin-bottom: 10px;
}

.close {
    color: #e6aa30;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand {
    color: #e6aa30;
    font-size: 250%;
    text-decoration: none;
    margin-left: 4px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-pos {
    float: right;
    margin-right: 10px;
}

.btn-primary {
    transition-duration: 0.2s;
    color: #fff;
    background-color: #e6aa30;
    border-color: #e6aa30;
}

.btn-primary:hover {
    background-color: #2f2f2f;
}

.btn:focus,
.btn-link:hover,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow:
        0 0 0 0.1rem white,
        0 0 0 0.25rem #e6aa30;
}

.top-row {
    background-color: #2f2f2f;
    box-shadow:
        inset 10px 0 5px rgba(0, 0, 0, 0.19),
        5px 0px 20px 0px rgba(0, 0, 0, 0.19);
    height: 6.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7px;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
