<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="logo-layout">
            <svg width="100" height="100" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="60" cy="60" r="60" fill="#D9D9D9" opacity="0.7" />
                <path
                    d="M30.25 33.1C31 39.2 28.35 56.8 35.2 60.15C39.6 62.3 53.25 53.85 55.6 50.15C66.6 32.8 30.25 26.65 30.25 33.1Z"
                    fill="black" />
                <path
                    d="M54.75 62.8C43.95 73 42.95 76.2 56.25 85C68.35 93 79.75 89.8 86.55 75.9C91.45 65.95 82.75 58.6 74.8 53.4C66.55 48 61.1 56.75 54.75 62.8Z"
                    fill="#E6AA30" />
            </svg>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="verify">
                <svg width="44" height="25" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.245685 0.259484C0 0.518971 0 0.564099 0 4.84V9.14974L0.279188 9.42051C0.569543 9.72513 0.848731 9.77025 1.26193 9.57846C1.7533 9.35282 1.7868 9.10461 1.7868 5.35897V1.80512H5.23756C8.73299 1.80512 9.15736 1.76 9.44772 1.37641C9.68223 1.06051 9.63756 0.518971 9.34721 0.248202C9.09035 -3.51599e-06 9.04568 -3.51599e-06 4.79086 -3.51599e-06H0.480203L0.245685 0.259484Z"
                        fill="white" />
                    <path
                        d="M34.6416 0.259484C34.3624 0.552817 34.3289 1.08307 34.5522 1.37641C34.8426 1.76 35.267 1.80512 38.7624 1.80512H42.2131V5.35897C42.2131 9.10461 42.2466 9.35282 42.738 9.57846C43.1512 9.77025 43.4304 9.72513 43.7208 9.42051L43.9999 9.14974V4.81743V0.485125L43.7431 0.248202C43.4862 -3.51599e-06 43.4416 -3.51599e-06 39.1868 -3.51599e-06H34.8761L34.6416 0.259484Z"
                        fill="white" />
                    <path
                        d="M18.5381 9.89436C16.5279 10.2328 14.3503 11.8462 13.468 13.6513C12.8427 14.9487 12.7198 15.5241 12.6528 17.5887L12.5858 19.439L13.4345 19.36C16.3716 19.0892 18.8173 17.4646 20.1462 14.8923C20.7716 13.6964 21.0061 12.7487 21.0731 11.1918L21.1401 9.81538L19.9787 9.82666C19.3422 9.83795 18.6944 9.87179 18.5381 9.89436Z"
                        fill="white" />
                    <path
                        d="M22.9269 11.1805C23.072 14.5313 24.6802 17.081 27.5279 18.5026C28.5665 19.0215 29.3817 19.2585 30.5654 19.36L31.4142 19.439L31.3472 17.5887C31.3137 16.4379 31.2243 15.5015 31.1127 15.1179C30.4761 12.839 28.8121 11.0451 26.5786 10.2103C25.8751 9.95077 25.5066 9.89436 24.3005 9.83795L22.8599 9.78154L22.9269 11.1805Z"
                        fill="white" />
                    <path
                        d="M21.8325 15.5692C21.6873 16.0431 20.6487 17.4759 19.9451 18.1979C18.7949 19.36 17.5553 20.1385 16.07 20.6462C15.2883 20.9169 13.7025 21.2103 13.0213 21.2103H12.5969L12.6528 23.6585C12.6974 25.6892 12.7421 26.2759 12.9431 27.0205C13.87 30.5179 16.5502 33.1241 20.0457 33.9026C20.6934 34.0492 21.2517 34.0831 22.3685 34.0492C23.6528 34.0041 23.9766 33.9477 24.9035 33.6318C27.9969 32.5826 30.2193 30.1795 31.068 26.9754C31.2578 26.2759 31.3025 25.6554 31.3472 23.6585L31.403 21.2103H30.9786C30.2863 21.2103 28.7116 20.9169 27.9187 20.6462C26.4446 20.1272 25.1715 19.3262 24.0771 18.2092C23.3512 17.4872 22.3238 16.0544 22.1675 15.5692C22.1228 15.4451 22.0558 15.3436 22 15.3436C21.9441 15.3436 21.8771 15.4451 21.8325 15.5692ZM18.8731 23.2974C19.2639 23.5005 19.4314 23.7826 19.4314 24.2226C19.4314 24.9108 18.7056 25.4185 18.0913 25.159C17.2538 24.8092 17.1756 23.7374 17.9573 23.3087C18.3482 23.0944 18.471 23.0944 18.8731 23.2974ZM26.0203 23.2974C26.4111 23.5005 26.5786 23.7826 26.5786 24.2226C26.5786 24.9108 25.8528 25.4185 25.2385 25.159C24.401 24.8092 24.3228 23.7374 25.1045 23.3087C25.4954 23.0944 25.6182 23.0944 26.0203 23.2974Z"
                        fill="white" />
                    <path
                        d="M33.0894 27.1446C32.9218 27.1897 32.8213 27.3251 32.7767 27.562C32.6315 28.239 31.9503 29.8072 31.4142 30.6759C30.6548 31.9282 28.9015 33.6431 27.6619 34.3538L26.6792 34.9179L26.7462 35.5949C26.8579 36.6779 27.0142 37.2195 27.5503 38.359C27.9858 39.2728 28.198 39.5662 29.0244 40.3897C30.0853 41.4503 30.9899 42.0031 32.3858 42.4318C33.4579 42.759 35.3117 42.7928 36.4061 42.4882C40.0132 41.5067 42.3696 38.2462 42.1909 34.4779C42.0345 31.2851 40.002 28.5549 36.9756 27.4944C36.1492 27.201 35.8366 27.1446 34.6751 27.122C33.9381 27.1108 33.2234 27.122 33.0894 27.1446ZM39.6447 31.5897C39.9462 31.7477 40.0914 32.2667 39.935 32.639C39.7675 33.0338 34.999 38.2123 34.7086 38.3026C34.597 38.3477 34.3736 38.3477 34.2284 38.3138C34.0833 38.28 33.1899 37.4 32.2295 36.362C30.6995 34.7036 30.4873 34.4328 30.4873 34.1056C30.4873 33.6318 30.9117 33.1692 31.3472 33.1692C31.6041 33.1692 31.9168 33.4287 33.0558 34.6359L34.463 36.1138L36.1828 34.2297C37.132 33.1918 38.0924 32.1538 38.3157 31.9169C38.7401 31.4544 39.198 31.3415 39.6447 31.5897Z"
                        fill="white" />
                    <path
                        d="M0.491371 34.3426C0.301523 34.4328 0.111675 34.5795 0.0670051 34.6923C-0.022335 34.9292 -0.022335 43.2441 0.0670051 43.4923C0.245685 43.9662 0.569543 44 4.80203 44C8.11878 44 8.88934 43.9662 9.14619 43.8308C9.6599 43.56 9.76041 42.9959 9.36954 42.4882L9.14619 42.1949H5.46091H1.7868V38.5395C1.7868 34.8954 1.7868 34.8728 1.54112 34.5908C1.20609 34.2297 0.915736 34.1621 0.491371 34.3426Z"
                        fill="white" />
                </svg>
                Face verifying
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metadata">
                <svg width="35" height="25" viewBox="0 0 35 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.2222 0.103442C17.8283 0.172217 17.312 0.292573 17.0811 0.369945C16.1981 0.66224 2.20539 6.79183 1.6484 7.1357C1.32236 7.33343 0.833295 7.78047 0.561593 8.13294L0.0589437 8.77771L0.0181883 22.9196C-0.022567 35.9009 -0.00898189 37.1131 0.20838 37.6117C0.480082 38.2737 1.25443 39.0474 2.05596 39.46C2.69446 39.7867 3.98504 40.208 4.37901 40.208C4.55562 40.208 4.60996 40.2767 4.60996 40.4831C4.60996 40.6378 4.69147 40.9645 4.80015 41.2052C5.35714 42.5377 7.1232 43.6123 9.20173 43.896C10.3565 44.0508 38.6814 44.025 39.6188 43.8702C41.7381 43.5092 43.3819 42.4604 43.8574 41.145C44.0475 40.6206 44.0475 13.059 43.8574 12.5346C43.4906 11.5115 42.6075 10.8066 40.6513 9.96408L39.4286 9.43107L39.1977 8.85508C38.9395 8.19312 38.3282 7.50537 37.6218 7.07553C36.7931 6.56831 22.6646 0.473108 21.8087 0.249589C20.7898 -0.016915 19.2275 -0.0770933 18.2222 0.103442ZM20.6676 1.55632C21.5914 1.72826 35.8829 7.96101 36.3991 8.41664C36.6165 8.60577 36.861 8.95825 36.9425 9.19896C37.0512 9.51704 37.0784 13.5576 37.0512 23.444L37.0105 37.242L36.6165 37.6977C36.1818 38.1877 35.5433 38.5402 34.7825 38.7121C34.4021 38.7981 31.2096 38.8239 19.6079 38.8325H4.936L4.22957 38.6089C3.83561 38.4886 3.34654 38.2479 3.11559 38.0759C2.24615 37.4054 2.30049 38.3682 2.32766 23.0142L2.36841 9.04421L2.66729 8.70034C2.81672 8.51121 3.12918 8.2533 3.34654 8.13294C4.16165 7.66011 18.1136 1.66808 18.657 1.55632C19.3906 1.41017 19.9204 1.41017 20.6676 1.55632ZM40.5018 11.735C40.8007 11.8984 41.1675 12.1993 41.3305 12.3884L41.6294 12.7409L41.6702 26.7108C41.6973 39.5718 41.6837 40.7066 41.48 41.0591C41.1947 41.5319 40.4611 42.0563 39.7411 42.297L39.1841 42.4861H24.3084C10.0576 42.4861 9.41909 42.4775 8.95719 42.3228C7.89756 41.9703 7.15037 41.3342 6.97377 40.6464L6.89226 40.2939L20.9936 40.2767L35.1085 40.251L36.0459 39.9587C37.092 39.6406 38.0565 39.0818 38.6135 38.4886C39.4286 37.6031 39.3879 38.2823 39.3879 24.1576V11.2278L39.6731 11.3224C39.8226 11.3826 40.203 11.5631 40.5018 11.735Z"
                        fill="white" />
                    <path
                        d="M18.4124 3.80011C18.1271 3.86029 17.6381 4.06661 17.3392 4.24715C15.383 5.43352 16.1437 7.46239 18.7249 7.94382C20.98 8.35647 23.0721 7.34203 23.0857 5.82898C23.0857 5.13263 22.7461 4.6598 21.931 4.20417C20.9936 3.68835 19.6215 3.52501 18.4124 3.80011ZM20.423 5.31317C20.6947 5.45072 20.7762 5.56248 20.7762 5.82898C20.7762 6.63709 19.146 6.86061 18.6706 6.12987C18.1951 5.41633 19.4449 4.83174 20.423 5.31317Z"
                        fill="white" />
                    <path
                        d="M9.67722 12.6291C8.22361 13.5404 7.01454 14.3743 6.96019 14.4861C6.91944 14.5892 6.96019 14.7869 7.05529 14.9245C7.1368 15.062 8.33229 15.8702 9.6908 16.7298C12.0139 18.1827 12.2176 18.2859 12.6795 18.2859C13.3588 18.2859 13.8478 17.9764 13.8478 17.5551C13.8478 17.2714 13.6848 17.1339 11.8237 15.9389L9.7859 14.6322L11.8237 13.3341C13.6441 12.1649 13.8478 12.0101 13.8478 11.7436C13.8343 11.417 13.6577 11.2278 13.2093 11.0817C12.5437 10.8582 12.3807 10.9355 9.67722 12.6291Z"
                        fill="white" />
                    <path
                        d="M21.4148 11.0731C21.2789 11.1247 20.0427 12.5947 18.657 14.3485C16.8094 16.6869 16.1709 17.5809 16.2389 17.7185C16.4019 18.0624 16.8502 18.2859 17.38 18.2859C17.7196 18.2859 17.9642 18.2257 18.1544 18.0882C18.3174 17.985 19.4857 16.5665 20.7763 14.9417C23.3167 11.7179 23.4118 11.5373 22.7461 11.1762C22.3657 10.9699 21.8223 10.9269 21.4148 11.0731Z"
                        fill="white" />
                    <path
                        d="M26.1423 11.0817C25.7076 11.2278 25.531 11.417 25.531 11.7436C25.531 12.0101 25.7212 12.1649 27.5688 13.3341L29.593 14.6322L27.5688 15.9303C25.6125 17.1769 25.531 17.2371 25.531 17.5809C25.531 18.0022 25.9929 18.2859 26.6993 18.2859C27.1069 18.2859 27.4058 18.1311 29.7016 16.6525C31.1009 15.7498 32.2964 14.9589 32.3643 14.8815C32.6496 14.5634 32.2828 14.2625 29.7016 12.6291C26.9846 10.9183 26.808 10.8496 26.1423 11.0817Z"
                        fill="white" />
                    <path
                        d="M8.88925 21.2862C8.73982 21.3292 8.23717 21.6129 7.77527 21.9224C6.78356 22.5757 6.70205 22.7993 7.31338 23.1947C7.53074 23.3323 7.81603 23.444 7.92471 23.444C8.1149 23.444 8.14207 23.6417 8.14207 25.043C8.14207 25.9199 8.19641 26.7022 8.27792 26.7882C8.49528 27.0547 9.16096 27.1837 9.63643 27.0547C10.4108 26.8484 10.4515 26.6936 10.4515 24.1748C10.4515 21.6387 10.4108 21.4753 9.62285 21.3034C9.37832 21.2518 9.18813 21.2088 9.17454 21.2174C9.16096 21.2174 9.03869 21.2518 8.88925 21.2862Z"
                        fill="white" />
                    <path
                        d="M14.5815 21.3378C14.3641 21.398 13.8614 21.6559 13.4811 21.9224C12.8833 22.3178 12.761 22.4554 12.761 22.7133C12.761 23.04 13.2365 23.444 13.6305 23.444C13.7935 23.444 13.8343 23.7019 13.875 25.0774C13.9158 26.5733 13.943 26.7194 14.1875 26.8828C14.6494 27.1751 15.2335 27.1923 15.7226 26.9258L16.1573 26.6936V24.1834C16.1573 21.6817 16.1573 21.6645 15.8585 21.4925C15.4373 21.2604 15.0569 21.2088 14.5815 21.3378Z"
                        fill="white" />
                    <path
                        d="M21.3604 21.3034C20.2464 21.4323 19.4177 21.8364 18.9151 22.4812C18.5483 22.9454 18.5347 23.0314 18.5347 24.2177C18.5347 25.2666 18.5754 25.5159 18.7928 25.7652C19.2547 26.3154 19.6486 26.5819 20.3822 26.8398C20.98 27.0461 21.2789 27.0891 21.9989 27.0891C23.4525 27.0805 24.4442 26.6764 25.205 25.7652C25.4223 25.5159 25.4631 25.2666 25.4631 24.2177C25.4631 23.1345 25.4223 22.9196 25.1778 22.5843C24.4849 21.6387 22.9362 21.1228 21.3604 21.3034ZM22.814 22.9712C23.0857 23.1603 23.14 23.2979 23.1944 23.9426C23.2759 24.9829 23.0857 25.3955 22.4336 25.5674C21.9989 25.6792 21.9038 25.6792 21.5098 25.5588C20.9256 25.3869 20.7219 24.9399 20.8034 23.9426C20.8577 23.2979 20.9121 23.1603 21.1838 22.9712C21.4147 22.8164 21.6457 22.7563 21.9989 22.7563C22.3521 22.7563 22.583 22.8164 22.814 22.9712Z"
                        fill="white" />
                    <path
                        d="M29.6473 21.3378C29.4436 21.398 28.9409 21.6559 28.5605 21.9224C27.9628 22.3178 27.8405 22.4554 27.8405 22.7133C27.8405 23.04 28.316 23.444 28.71 23.444C28.873 23.444 28.9137 23.7019 28.9545 25.0774C28.9953 26.5733 29.0224 26.7194 29.267 26.8828C29.7288 27.1751 30.313 27.1923 30.8021 26.9258L31.2368 26.6936V24.2177C31.2368 21.888 31.2232 21.7332 30.9651 21.5355C30.639 21.269 30.1636 21.2002 29.6473 21.3378Z"
                        fill="white" />
                    <path
                        d="M8.75344 29.4103C8.21003 29.5564 7.09605 30.3301 6.97379 30.631C6.85152 30.9491 7.13681 31.2758 7.6938 31.4391L8.14211 31.5681V33.1671C8.14211 34.7146 8.15569 34.7661 8.45456 34.9381C8.8757 35.1874 9.16099 35.2304 9.63647 35.1186C10.3972 34.9553 10.4516 34.7833 10.4516 32.2558C10.4516 29.7713 10.4108 29.5908 9.7044 29.3931C9.26967 29.2641 9.26967 29.2641 8.75344 29.4103Z"
                        fill="white" />
                    <path
                        d="M15.0705 29.4533C14.1739 29.651 13.1686 30.2871 12.9241 30.8116C12.7203 31.2586 12.7067 33.2531 12.9241 33.6915C13.1414 34.1472 14.1196 34.8263 14.826 35.0068C16.66 35.4883 18.8472 34.8693 19.4721 33.6915C19.771 33.1499 19.771 31.3618 19.4721 30.8202C18.8608 29.6682 16.8638 29.0492 15.0705 29.4533ZM16.6328 30.8803C17.2577 31.0351 17.38 31.2758 17.38 32.2558C17.38 33.2187 17.2441 33.4766 16.6872 33.6227C16.1438 33.7689 15.6683 33.7087 15.3422 33.4336C15.1113 33.2531 15.0705 33.0897 15.0705 32.2644C15.0705 31.1468 15.2607 30.8803 16.1302 30.76C16.1438 30.7514 16.3747 30.8116 16.6328 30.8803Z"
                        fill="white" />
                    <path
                        d="M23.6971 29.4533C23.0993 29.6768 22.1619 30.3559 22.0533 30.631C21.931 30.9491 22.2299 31.2758 22.7733 31.4391L23.2216 31.5681V33.1671C23.2216 34.7146 23.2352 34.7661 23.534 34.9381C23.9688 35.1874 24.2405 35.2304 24.7295 35.1186C25.4631 34.9553 25.531 34.7231 25.531 32.273C25.531 29.8917 25.4631 29.6166 24.8382 29.4189C24.3491 29.2555 24.1861 29.2555 23.6971 29.4533Z"
                        fill="white" />
                    <path
                        d="M29.6745 29.3673C29.5251 29.4103 29.0496 29.6768 28.6285 29.9605C28.0171 30.3645 27.8405 30.5365 27.8405 30.7514C27.8405 31.1211 28.0307 31.3102 28.5198 31.4391L28.9273 31.5423V33.0382C28.9273 33.8549 28.9817 34.62 29.0632 34.7489C29.2126 34.9983 30.0005 35.2476 30.3809 35.1616C30.5168 35.1358 30.7613 35.0326 30.9379 34.9381C31.2368 34.7661 31.2368 34.7489 31.2368 32.2558C31.2368 29.7713 31.2368 29.7455 30.9379 29.565C30.5711 29.3501 30.0413 29.2727 29.6745 29.3673Z"
                        fill="white" />
                </svg> Metadata
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="camera">
                <svg class="bi" width="44" height="44" viewBox="0 0 44 44" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.87503 3.04219C3.55784 3.74688 1.06565 6.14453 0.232059 9.45313C-0.0343474 10.5016 -0.0257537 12.3664 0.240653 13.4406C0.635965 15.0047 1.46096 16.4227 2.6469 17.5398C5.09612 19.8602 8.63675 20.5305 11.7649 19.2586C14.4289 18.1758 16.3539 15.7523 16.8953 12.7961L17.05 11.9883L17.1532 12.6758C17.2821 13.5609 17.3852 13.9477 17.7461 14.7727C19.5164 18.9234 24.3719 20.9602 28.6086 19.3359C31.1094 18.3734 33.0516 16.1906 33.7907 13.5094C33.9453 12.968 33.9797 12.5984 33.9797 11.4297C33.9883 10.2008 33.9625 9.91719 33.7907 9.28125C32.9828 6.33359 30.7828 4.08203 27.8782 3.22266C26.8383 2.90469 25.0422 2.82734 23.9766 3.04219C21.9141 3.46328 20.1867 4.48594 18.9492 6.03281C17.8922 7.36484 17.1274 9.19531 17.093 10.5273C17.0844 10.7766 17.0328 10.6133 16.8867 9.92578C16.6461 8.78281 16.4227 8.14688 16.0188 7.39922C14.8758 5.30234 13.0453 3.84141 10.7422 3.17969C9.91721 2.93906 7.7344 2.86172 6.87503 3.04219ZM9.32425 8.02656C11.0602 8.43906 12.2289 10.175 11.9453 11.9195C11.8508 12.4609 11.4555 13.3375 11.1461 13.6813C10.2266 14.6781 8.80003 15.0992 7.56253 14.7297C6.42815 14.3945 5.44846 13.3977 5.15628 12.2977C5.02737 11.7906 5.04456 10.7938 5.19065 10.3039C5.52581 9.22109 6.42815 8.37031 7.56253 8.06094C8.25003 7.88047 8.66253 7.87188 9.32425 8.02656ZM26.2196 7.99219C28.4282 8.41328 29.6657 10.9398 28.643 12.9508C28.3508 13.5352 27.6977 14.2055 27.1735 14.4719C24.8274 15.6492 22.086 13.982 22.086 11.3953C22.086 10.3641 22.4469 9.52188 23.1516 8.86875C24.0024 8.08672 25.0766 7.77734 26.2196 7.99219Z"
                        fill="white" />
                    <path
                        d="M13.5008 20.1609C12.8648 20.5563 11.9109 20.943 10.9227 21.2094C10.2008 21.3984 9.91719 21.4242 8.63672 21.4328C7.72578 21.4414 6.98672 21.3984 6.66016 21.3297C5.90391 21.1664 4.83828 20.8141 4.37422 20.582L3.97031 20.3758L3.64375 20.6164C2.76719 21.2523 2.15703 22.232 1.97657 23.2719C1.91641 23.6758 1.89063 25.9617 1.90782 30.7656C1.9336 37.6148 1.9336 37.6922 2.12266 38.1734C2.63828 39.5227 3.59219 40.4422 4.97578 40.9148C5.42266 41.0695 5.9211 41.0781 17.0586 41.0781C28.1961 41.0781 28.6945 41.0695 29.1414 40.9148C29.9406 40.6484 30.3531 40.3906 30.8945 39.8406C31.5305 39.2047 31.8484 38.6547 32.0633 37.8211C32.218 37.2195 32.2266 36.7984 32.2266 30.5594C32.2266 26.3484 32.1922 23.7273 32.132 23.375C31.9687 22.3266 31.2469 21.1836 30.3789 20.5648L30.1125 20.3844L29.5367 20.6336C26.8469 21.7766 23.9336 21.7594 21.3555 20.582C21.0117 20.4273 20.582 20.1953 20.4016 20.075L20.0664 19.8516L17.0156 19.8602L13.9648 19.8688L13.5008 20.1609Z"
                        fill="white" />
                    <path
                        d="M41.1984 22.0258C40.9063 22.1719 39.1016 23.2117 37.1852 24.3203L33.6961 26.3398L33.6875 30.525V34.7102L34.7016 35.3117C35.2516 35.6383 37.0219 36.6695 38.6289 37.6063L41.5508 39.3078L42.1695 39.3164C42.7109 39.3164 42.8227 39.2906 43.1492 39.0586C43.3469 38.9125 43.5961 38.6461 43.6992 38.4484C43.8883 38.0961 43.8883 38.0617 43.9484 30.6539C44.0172 22.4813 44.0344 22.8766 43.5016 22.318C42.8914 21.6734 42.0664 21.5617 41.1984 22.0258Z"
                        fill="white" />
                </svg> Camera
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> History
            </NavLink>
        </div>
    </nav>
</div>
